<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css')}}">
</head>

<body>
    <!-- TOP NAVBAR -->
    {% block navbar %}
        <div class="nav">
            <h1 class="logo">NoteHub</h1>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('upload') }}">upload</a></li>
                <li><a href="{{ url_for('create') }}">Downloaded</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </div>
    {% endblock %}

    <div class="layout">
        <!-- LEFT SIDEBAR -->
        <div class="sidebar">
            <ul>
                <li><a href="{{ url_for('home')}}"> Dashboard</a></li>
                <li><a href="{{ url_for('user')}}"> Users</a></li>
                <li>
                    <details>
                        <summary>Notes</summary>
                        <ul class="nested-list">
                            <li>
                                <details>
                                    <summary>FY</summary>
                                    <ul class="nested-list">
                                        <li><a href="#">Sem 1</a></li>
                                        <li><a href="#">Sem 2</a></li>
                                    </ul>
                                </details>
                            </li>
                            <li>
                                <details>
                                    <summary>SY</summary>
                                    <ul class="nested-list">
                                        <li><a href="#">Sem 1</a></li>
                                        <li><a href="#">Sem 2</a></li>
                                    </ul>
                                </details>
                            </li>
                            <li>
                                <details>
                                    <summary>TY</summary>
                                    <ul class="nested-list">
                                        <li><a href="#">Sem 1</a></li>
                                        <li><a href="#">Sem 2</a></li>
                                    </ul>
                                </details>
                            </li>
                            <li>
                                <details>
                                    <summary>B.TECH</summary>
                                    <select class="nested-list">
                                        <option><a href="#">Sem 1</a></option>
                                        <option><a href="#">Sem 2</a></option>
                                    </select>
                                </details>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>Settings</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <!-- RIGHT CONTENT -->
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <p>@sdhj</p>
    </footer>
</body>
</html>