{% extends "base1.html" %}
{% block content %}
<div class="main">

    <!-- Navbar -->
    <div class="layout">

        <div class="container">
            <div class="welcome">
                <h1 id="wel">Hello, {{ username }}! 👋</h1>
                <p>Explore and download notes shared by your teachers</p>
            </div>

            <div class="main-container">
                <div class="recent">
                    <h1>Recently Uploaded</h1>
                
            

                <div class="table-section">
                    <table class="notes-table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Subject (Class/Sem)</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for note in notes %}
                            <tr>
                                <td>{{ note.title }}</td>
                                <td>{{ note.subject }}</td>
                                <td>{{ note.created_at.strftime("%d-%m-%Y") }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div></div>
                
            </div>
        </div>

        <!-- Right Side Box -->
        <div class="cont-secound">
            <div class="img">
                <img src="{{ url_for('static', filename='images/index.png') }}" class="image">
            </div>
            <div class="box1">
                <h2>my Downloads</h2>
                <ul>
                    <li>Note 1</li>
                    <li>Note 2</li>
                    <li>Note 3</li>
                </ul>
            </div>
        </div>

    </div>

</div>
{% endblock %}