{% extends "base1.html" %}

{% block navbar %}
    <div class="nav">
        <h1 class="logo">NoteHub</h1>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('create') }}">Downloaded</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="main">

    <div class="layout">

        <div class="container">
            <div class="welcome">
                <h1 id="wel">Welcome to NoteHub, {{ username }}!</h1>
                <p>download Shared Notes uploaded by your teaches</p>
            </div>
            
            <div class="filter-box" style="margin-bottom: 20px;">
                <form action="/student_dashboard" method="GET" style="display: flex; gap: 10px;">
                    <input type="text" name="subject" placeholder="Search by subject..." class="log-inp" style="max-width: 300px; height: 40px;">
                    <button type="submit" class="btn" style="margin-top: 0; height: 40px; width: 100px;">Search</button>
                </form>
            </div>

            <div class="main-container">
                <div class="recent">
                    <h1>Recent Notes</h1></div>
                    <div class="table-section">
                        <table>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            {% for note in notes %}
                            <tr>
                                <td>{{ note.title }}</td>
                                <td>{{ note.subject }}</td>
                                <td>{{ note.created_at.strftime("%d-%m-%Y") }}</td>
                                <td><a href="{{ url_for('download_note', note_id=note.id) }}" style="color: #577cf4; font-weight: bold;">Download</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                
            </div>
        </div>

        <!-- Right Side Box -->
        <div class="cont-secound">
            <div class="img">
                <img src="{{ url_for('static', filename='images/index.png') }}" class="image">
            </div>
            <div class="box1">
                <h2>my Downloads</h2>
                <ul>
                    <li>Note 1</li>
                    <li>Note 2</li>
                    <li>Note 3</li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}